<div class="card-profile">
  <div class="container">
  <div class="row m-2">
    <div class="avatar-profile">
      <%= link_to user_path(@user) do  %>
        <%= image_tag 'meintaipei.jpg' %>
      <% end %>
      <% if @user == current_user %>
        <%= link_to "Edit", edit_user_registration_path(@user), class: "btn btn-outline-secondary profile-button" %>
      <% elsif is_following?(current_user.id, @user.id) %>
        <%= link_to 'Unfollow',
            unfollow_user_path(id: @user.id),
            remote: true,
            class: "btn btn-outline-warning profile-button",
            method: :post,
            id: 'unfollow-btn'  %>
      <% else %>
        <%= link_to 'Follow',
            follow_user_path(id: @user.id),
            remote: true,
            class: "btn btn-outline-success profile-button",
            method: :post,
            id: 'follow-btn' %>
      <% end %>
    </div>
    <div class="card-profile-info ml-2">
      <h3><%= @user.username.capitalize %></h3>
      <p>Following #</p>
      <p>Followers #</p>
      <p>Tweet #</p>
    </div>
  </div>
  <div class="card-profile-bio border-top pt-2 pb-2">
    <% if @user.bio.present? %>
      <p><%= @user.bio %></p>
      <% elsif @user == current_user %>
      <p>Tell us about yourself</p>
    <% else %>
      <p><%= "#{@user.username.capitalize} hasn't listed a biography, yet." %></p>
    <% end %>
    <span>
    </span>
  </div>
  </div>
</div>
