<div class="card-tweet">
  <div class="container">
    <div class="row p-2 mt-2 justify-content-around align-items-center">
      <div class="avatar-tweet">
        <%= link_to user_path(tweet.user.id) do  %>
          <%= image_tag 'default-avatar.png' %>
        <% end %>
      </div>
      <div class="card-tweet-topline">
        <%= link_to tweet.user.username.capitalize, user_path(tweet.user.id)  %>
        <div class="d-flex justify-content-around">
          <%= link_to tweet_path(tweet.id), remote: true do  %>
            <i class="fas fa-reply"> Reply</i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-tweet-tweet ml-2 border-top pt-2 pb-2">
     <%= tweet.content %>
    </div>
    <div class="card-tweet-stats border-top pt-2">
      <div class="d-flex justify-content-around">
          <p>Replies: <strong><%= tweet.children.count %></strong></p>
        <p><%= time_ago_in_words(tweet.created_at) %> ago</p>
      </div>
    </div>
  </div>
</div>
<br>
